.nav-button {
    background-color: #FF9E0E;
    color: var(--primary-text-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}