:root{--primary-color-aquamarine: #00FFA3;
  --primary-color-ferrous: #00BEAE;
  --primary-text-color:#CFF3F0;
  --white-color:#FFFFFF;
  --primary--yellow-color:#FF9E0E;
  --primary-dark-color:#0E2A46;
  --primry-heading-color:#17254E;

}